:root {
    --background: #242424;
    --button-bg: #333333;
    --button-border:rgb(43, 43, 43);
    --button-text: rgb(212, 212, 212);
    --name-text: rgb(255, 255, 255);
}

body {
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-img {
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.profile-name {
    color: var(--name-text);
    font-weight: 600;
    text-align: center;
}

.link-btn {
    margin: 0 auto;
    background: var(--button-bg);
    border: 3px solid var(--button-border);
    border-radius: 10px;
    padding: 1rem;
    color: var(--button-text);
    text-decoration: none;
    transition: all .2s ease-in-out;
    display: block;
    margin-bottom: .5rem;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
}

.link-btn:hover {
    transform: scale(1.01);
}